<a href="https://colab.research.google.com/github/PrasanthGubbala/MS-in-Information-Science-Machine-Learning/blob/dev/Course2/Assignment1/WeeklyAssessment(wk1)_QuesNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week:1 Introduction to Data Mining

### Objective:
The objective of the assignment is to understand how to install libraries, creating variables, calculate statistical metrics, basic python opreations, creating dataframes and basic pandas operations on the dataframe.

We have to use Fatal Police Shooting Data to answer the questions given in this notebook.

### Fatal Police Shooting Data

**About dataset**\
The dataset consists of following columns
1. **id**                         : unqiue identifier of each victim
2. **name**                       : name of a victim
3. **date**                       : date on fatal shooting
4. **manner_of_death**            : manner of death classification
    * Shot
    * Shot and Tasered
5. **armed**                      : indicates that the victim was armed with some sort of implement that a police officer believed could inflict harm
    * undetermined: it is not known whether or not the victim had a weapon
    * unknown: the victim was armed, but it is not known what the object was
    * unarmed: the victim was not armed
6. **age**                        : age of victim
7. **gender**                     : the gender of the victim. The Post identifies victims by the gender they identify with if reports indicate that it differs from their biological sex.
    * M: Male
    * F: Female
    * None: Unknown
8. **race**                       : race of victim
    * W: White, non-Hispanic
    * B: Black, non-Hispanic
    * A: Asian
    * N: Native American
    * H: Hispanic
    * O: Other
    * None: unknown
9. **city**                       : the city where the fatal shooting took place. Note that in some cases this field may contain a county name if a more specific city is unavailable or unknown.
10. **state**                     : two-letter postal code abbreviation
11. **signs_of_mental_illness**   : News reports have indicated the victim had a history of mental health issues, expressed suicidal intentions or was experiencing mental distress at the time of the shooting.
12. **threat_level**              : These would include incidents where officers or others were shot at, threatened with a gun, attacked with other weapons or physical force, etc. The attack category is meant to flag the highest level of threat. The other and undetermined categories represent all remaining cases. Other includes many incidents where officers or others faced significant threats.
13. **flee**                      : News reports have indicated the victim was moving away from officers
    * Foot
    * Car
    * Not fleeing
14. **body_camera**               : News reports have indicated an officer was wearing a body camera and it may have recorded some portion of the incident.

## Let's Begin

### Question: 1            (2 Marks)                                                                                                                                                  

Install the required libraries for the assignment

In [ ]:
import numpy as np

In [ ]:
# Install a libray which help us to data injecting, data manipulation on the dataframe

!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
# Import the libary
'<<__A__>>'
import pandas as pd

#Check the version
'<<__B__>>'
pd.__version__

'2.0.3'

In [ ]:
# Upgrade the installed library to the latest version
'<<__C__>>'
!pip install --upgrade pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
# Check the latest version after upgrading library
'<<__D__>>'

 #Todo: Code to fill
 # 1. '<<__A__>>'--> import requried libraries
import pandas as pd
 # 2. '<<__B__>>'--> Check the version
print('version of pandas before upgrade : ', pd.__version__)
 # 3. '<<__C__>>'--> Updgrade the installed library to leatest version
!pip install --upgrade pandas
 # 4. '<<__D__>>'--> Check the latest version after upgrading library
print('version of pandas after upgrade : ', pd.__version__)

version of pandas before upgrade :  2.0.3
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
version of pandas after upgrade :  2.0.3

### Question: 2 (2 marks)

- Fill in the missing code.
- Store the data in to a variable, then display the top 5 and bottom 5 rows of records and check the dataset's shape.

In [ ]:
# Load the dataframe and store it into the variable
# df = pd.'<<__A__>>'('<<__B__>>')
df = pd.read_csv('./fatal-police-shootings-data.csv')

In [ ]:
# Display the Top 5 records
# df.'<<__C__>>'()
# head function bydefault displays first 5 records since your ask was first 5 i'm not passing any specific no of records over head function
df.head() # we can pass required no of rows(rows count) to function as arguments

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [ ]:
# Display the last 5 records
# df.'<<__D__>>'()
# tail function bydefault displays last 5 records since your ask was last 5 i'm not passing any specific no of records over tail function
df.tail()  # we can pass required no of rows(rows count) to function as arguments

 #Todo: Code to fill
 # 1. '<<__A__>>'--> Appropriate pandas function to read the file
 # 2. '<<__B__>>'--> Appropriate path of the csv file
df = pd.read_csv('./fatal-police-shootings-data.csv')
 # 3. '<<__C__>>'--> Check for top 5 records using appropriate function
df.head()
 # 4. '<<__D__>>'--> Check for bottom 5 records using appropriate function
df.tail()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
4473,4907,Connor Betts,2019-08-04,shot,gun,24.0,M,W,Dayton,OH,True,attack,Not fleeing,False
4474,4909,Robert Clay Wilsford Jr.,2019-08-04,shot,gun,65.0,M,NaN,Hanceville,AL,True,attack,Not fleeing,False
4475,4910,TK TK,2019-08-05,shot,undetermined,NaN,NaN,NaN,Salt Lake City,UT,False,undetermined,Not fleeing,True
4476,4914,James Kirkwood,2019-08-05,shot,knife,49.0,M,B,Memphis,TN,False,attack,Foot,False
4477,4916,Marvin Alexis Urbina,2019-08-05,shot,vehicle,19.0,M,H,Bakersfield,CA,False,other,Car,False

In [ ]:
# Check the shape of the datset
print("No of columns: ",df.shape[1])
print("No of rows: ",df.shape[0])
df.shape # expected output would be : (# of rows, # of columns)

No of columns:  14
No of rows:  4478

(4478, 14)

### Question: 3 (2 marks)
Caluculate the statistical metrics of a column in a dataset

In [ ]:
# Calculate the standard devaition

# Select only numeric columns for standard deviation calculation
numeric_columns = df.select_dtypes(include=['int64', 'float64'])
std_deviation = numeric_columns.std()

print("Standard Deviation for numeric columns:")
print(std_deviation)

Standard Deviation for numeric columns:
id     1404.978671
age      13.067598
dtype: float64

In [ ]:
# Average age of a victim

# Calculate the average age
average_age = df['age'].mean()

print("Average Age of Victims:", average_age)

Average Age of Victims: 36.87932234857276

In [ ]:
# Which city records the most Kill Events by police?


# Group the data by 'city' and count the occurrences
city_kill_events = df['city'].value_counts()

# Find the city with the most Kill Events
most_kill_events_city = city_kill_events.idxmax()
max_kill_events = city_kill_events.max()

print("City with the most Kill Events:", most_kill_events_city)
print("Number of Kill Events:", max_kill_events)

City with the most Kill Events: Phoenix
Number of Kill Events: 68

In [ ]:
# list of all cities # of deaths occured
city_kill_events

city
Phoenix         68
Los Angeles     68
Houston         45
Las Vegas       40
San Antonio     36
                ..
Rome             1
Counce           1
Falls Church     1
Tukwila          1
Hanceville       1
Name: count, Length: 2168, dtype: int64

### Question: 4 (2 marks)
Create a new  " age categories " column using age column of a dataset

In [ ]:
'''Hint: if age is between 0 to 12, then categorise as child.
13-21 as Teenage, 22-34 as Youth, 35-50 as Adult, 51-120 as Senior citizens'''

    #-------- build the code down --------#

# Define a function to categorize age
def categorize_age(age):
    if age <= 12:
        return 'Child'
    elif 13 <= age <= 21:
        return 'Teenage'
    elif 22 <= age <= 34:
        return 'Youth'
    elif 35 <= age <= 50:
        return 'Adult'
    else:
        return 'Senior citizens'

In [ ]:
# df['age_categories'] =  age_cat

# Apply the categorize_age function to create the 'age categories' column
df['age_categories'] = df['age'].apply(categorize_age)

In [ ]:
# Display the first 5 records after creating the column
#  '<<__A__>>'
df.head()

#Todo: Code to fill
 # 1. Write code to build the conditions for the categories of age
 # 2. '<<__A__>>'--> method to display first 5 rows

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,age categories,age_categories
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,Senior citizens,Senior citizens
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,Adult,Adult
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,Youth,Youth
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,Youth,Youth
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,Adult,Adult

### Question: 5 (2 marks)
Find the state which records the most kill events by police and display the type of attacks done on the male senior citizen of that state.

In [ ]:
# Which State records the most Kill Events by police?

# Group the data by 'state' and count the occurrences
state_kill_events = df['state'].value_counts()

# Find the state with the most Kill Events
most_kill_events_state = state_kill_events.idxmax()

print("State with the most Kill Events:", most_kill_events_state)

State with the most Kill Events: CA

In [ ]:
# What kinds of attacks (armed) are most affected by the male senior citizens in the state of 'CA'
# df[(df['age_categories'] == '<<__A__>>') & (df['gender'] =="M") &  '<<__B__>>']['armed'].'<<__C__>>'
df[(df['age_categories'] == 'Senior citizens') & (df['gender'] =="M") &  (df['state']=='CA')]['armed'].unique()

#Todo: Code to fill

# 1. '<<__A__>>'--> write proper age category
# 2. '<<__B__>>'--> write state filter
# 3. '<<__C__>>'--> write the appropriate command to show distinct attacks without repetitions

array(['gun', 'toy weapon', 'knife', 'undetermined', 'box cutter', nan,
       'unknown weapon', 'pipe', 'unarmed', 'blunt object', 'pitchfork',
       'metal pipe', 'ax', 'metal object', 'gun and knife', 'vehicle'],
      dtype=object)

In [ ]:
# Save the processed data to use for Week2 assignment
df.to_csv("week_1_assignment_output.csv",index=False)

## Thank you!